apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false

  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    editable: false

  - name: CloudWatch
    type: cloudwatch
    access: proxy
    jsonData:
      authType: default  # EC2 IAM 역할 자동 사용
      defaultRegion: ap-northeast-2
    editable: false
