global:
  scrape_interval: 30s  # 메모리 절약을 위해 30초로 설정
  evaluation_interval: 30s

scrape_configs:
  - job_name: 'spring-boot-app'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets:
          - 'host.docker.internal:8080'
          - 'host.docker.internal:8081'
