server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: tasteam-api
    static_configs:
      - targets:
          - localhost
        labels:
          job: tasteam-api
          __path__: /var/log/tasteam/*.log
    pipeline_stages:
      - json:
          expressions:
            level: level
            traceId: traceId
            spanId: spanId
            logger: logger_name
      - labels:
          level:
          traceId:
          spanId:
          logger:
      - match:
          selector: '{level="ERROR"}'
          stages:
            - labels:
                alert: "true"
